# POSTGRES
POSTGRES_USER=flowadmin
POSTGRES_PASSWORD=your_secure_db_password
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=flowadmin_db
DATABASE_URL=postgresql://flowadmin:your_secure_db_password@db:5432/flowadmin_db

# MINIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_secure_minio_password

# AUTH
SECRET_KEY=your_very_secure_random_string_here
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
